BODY
{
	font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}
A:focus
{
	outline: 1px dotted #000000;
}
HR
{
	border: 0 solid #CCC;
	border-top-width: 1px;
	clear: both;
	height: 0;
}
H1
{
	font-size: 25px;
}
H2
{
	font-size: 23px;
}
H3
{
	font-size: 21px;
}
H4
{
	font-size: 19px;
}
H5
{
	font-size: 17px;
}
H6
{
	font-size: 15px;
}
OL
{
	list-style: decimal;
}
UL
{
	list-style: disc;
}
LI
{
	margin-left: 30px;
}
P, DL, HR, H1, H2, H3, H4, H5, H6, OL, UL, PRE, TABLE, ADDRESS, FIELDSET
{
	margin-bottom: 20px;
}
